#tock-app {
//  color: #e3e9ee;
  width: 500px;
  margin: 0 auto;
  padding-top: 30px;
}

#view-switcher {
}

button {
  color:black;
}

polymer-ui-pages {
  display: block;

  & > .polymer-selected {
    position: relative;
  }
}

#task-list {
  margin-top: 18px;
}