@import 'compass';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'elements/common/variables';

:host {
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: stretch
  ));
  height: 100%;
  width: 100%;
}

#view-switcher {
  @include flexbox((
    flex-grow: 0,
    flex-shrink: 0,
    flex-basis: auto
  ));

  background-color: #feffff;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #F3F3F3;
  @include box-shadow(0 2px 2px rgba(0,0,0,0.05));
  padding: $default-padding;
  z-index: 1;
}

.task-list {

}

#unfinished-task-list {
  @include flexbox((
    flex-grow: 0,
    flex-shrink: 0,
    flex-basis: auto
  ));
}

#finished-task-list {
  border-top: 4px solid #d8d8d8;
  @include flexbox((
    flex-grow: 1,
    flex-shrink: 1,
    flex-basis: auto
  ));
}

polymer-ui-pages {
  & > .polymer-selected {
    position: relative;
  }
}
