@import 'compass';
@import 'elements/common/variables';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url("./assets/Roboto.woff") format('woff');
}

:host {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Open Sans', 'Helvetica', 'Verdana';
  color: $secondary-text-color;
  display: block;
  @include clearfix;
}

core-animated-pages {
  height: 100%;
  width: 100%;
  display: block;
}

core-header-panel {
  /* height: 100% fails here on some browsers */
  height: 100vh;
  width: 100vw;
}

core-toolbar {
  background-color: $primary-color;
  color: $secondary-text-color;
  border-bottom: 1px solid $divider-text-color;
}

tock-new-task {
  margin: $default-padding $default-padding 0 $default-padding;
}

#body {
  padding-bottom: $default-padding;
}

polymer-ui-pages {
  & > .polymer-selected {
    position: relative;
  }
}
