@import 'elements/common/variables';

:host {
  display: block;
  color: rgb(66, 189, 66);
}

.description, .pomodoros {
  text-align: center;
}

.description {
  font-size: 30px;
  // font-family: 'Open Sans';
}

tock-clockface {
  margin-bottom: $default-padding;
}

.actions {
  text-align: center;
}
