:host {
  display: block;
  color: rgb(66, 189, 66);
}

.description, .pomodoros {
  text-align: center;
}

.description {
  font-size: 30px;
  font-family: 'Open Sans';
}

tock-clockface {
  margin-bottom: 18px;
}

.actions {
  text-align: center;
}