@import 'compass';
@import 'elements/common/variables';

:host {
  display: block;
  overflow: auto;
}

ul {
  @include no-bullets;
  margin: 0;
  padding: 0;
}

.list-item {
  padding: $default-padding;
  background: white;

  @include flexbox((
    display: flex,
    flex-direction: row,
    align-items: center
  ));

  & + .list-item {
    border-top: 1px solid rgba(0,0,0, $divider-text-opacity);
  }

  paper-ripple {
    color: $accent-color-light;
  }

  .description {
    @include flexbox((
      flex: 1 0 auto
    ));
  }

  .trash-button, .pomodoros {
    @include flexbox((
      flex: 0 0 auto
    ));
    color: $secondary-text-color;
    fill: $secondary-text-color;
  }
}
