:host {
  display: block;
  overflow: auto;
}

#list {
  margin: 0;

  .list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    background-color: #fcfcfc;
  }

  &.can-select .list-group-item {
    background-color: #feffff;
    cursor: pointer;

    &:hover {
      background-color: #fcfcfc;
    }
  }
}

.trash {
  margin-right: 7px;
  color: rgb(126, 126, 126);
  font-size: 12px;
}