@import 'elements/common/variables';
@import 'compass';

$padding: $default-padding / 2;


#tock-task-editor {
  @include flexbox((
    display: flex,
    flex-direction: row,
    align-items: center
  ));
}

#description-container {
  @include flexbox((
    flex: 1 0 auto
  ));
  margin-right: $padding;
}

#estimate-container {
  @include flexbox((
    flex: 0 0 auto
  ));
}

#descriptionInput {
  width: 100%;
}

#estimateInput {
  width: 100px;
}

#buttons {
  @include flexbox((
    display: flex,
    flex-direction: row,
    align-items: center
  ));

  padding-top: $padding;

  button {
    @include flexbox((
      flex: 1 0 auto
    ));

    margin-left: $padding;

    &:first-child {
      margin-left: 0;
    }
  }
}