@import 'elements/common/variables';
@import 'compass';

$padding: $default-padding / 2;

:host {
  display: block;
  background: $foreground-color;
}

input {
  font-size: 150%;
  border: none;
  @include box-sizing('border-box');
  padding: 0.6em;
  color: $primary-text-color;
}

// TODO: on large devices display it all on one line

#inputs {
  @include box-sizing('border-box');
  @include flexbox((
    display: flex,
    flex-direction: row,
    align-items: center
  ));

  border-bottom: 1px solid $divider-text-color;
}

#descriptionInput {
  @include flexbox((
    flex: 1 0 auto
  ));
  min-width: 0;
}

#estimateInput {
  width: 75px;
  @include flexbox((
    flex: 0 0 auto
  ));
  text-align: right;
  color: $hint-text-color;

  &:focus {
    color: $primary-text-color;
  }
}

#buttons {
  padding: 0.2em;
}

paper-button {
  background: white;
  padding: 0.4em;

  &::shadow #ripple {
    color: $accent-color;
  }
}

.paper-shadow {
  pointer-events: none;
}
